---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic dHJhaW5pbmdfcHJvamVjdDp4eG5nVlJadlEwVjJzdXh1eHVvall5WUdFb3RUY0dHc3Q2dUJzTDJMZGN3RlFucTY3Ng==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"4f65344353f640b38d447423adf9751e","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 10 Oct 2019 09:58:22 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/training_project/payins/69660060
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 4f65344353f640b38d447423adf9751e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.33","lang":"ruby","lang_version":"2.6.3 p62 (2019-04-16)","platform":"x86_64-darwin18","uname":"Darwin
        MacBook-Air-de-Andrew.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20
        16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '163'
      - '60'
      - '60'
      - '62'
      X-Ratelimit-Remaining:
      - '105437'
      - '2240'
      - '4440'
      - '8738'
      X-Ratelimit-Reset:
      - '1570702380'
      - '1570703280'
      - '1570705080'
      - '1570787820'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"69660060","Tag":null,"CreationDate":1570523685,"AuthorId":"69621545","CreditedUserId":"69621234","DebitedFunds":{"Currency":"EUR","Amount":2000},"CreditedFunds":{"Currency":"EUR","Amount":2000},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1570523700,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"69621235","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=14tNcaS4NxuwBcota3911570523685543","ReturnURL":"http://localhost:3000/projects/40/contributions/65/verify_payment?transactionId=69660060","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=47919d6b1d8542568b11447cb7235cbe&transactionId=69660060","CardType":"CB_VISA_MASTERCARD","Culture":"EN","SecureMode":"DEFAULT","StatementDescriptor":null}'
  recorded_at: Thu, 10 Oct 2019 09:58:22 GMT
[...]
