<h1>Available projects</h1>

<div>
  <ul>
    <% @projects.each do |project| %>
    <li>
      <%= link_to "#{project.name}" %> - <%= project.contributions.sum(:amount).to_f / project.goal * 100 %> %
    </li>
    <% end %>
  </ul>
</div>
